/vendor/
composer.lock
.env
log.txt
/locales/*
/wordpress/locales/*
/wordpress/vendor
/wordpress/vendor/
/.phpunit.result.cache
/tests/files/**/*_expected
/tests/data.db
gtbabel-*-log.txt
/node_modules/
/package-lock.json