/vendor/
composer.lock
.env
log.txt
/locales/*
/wordpress/locales/*
/wordpress/vendor
/wordpress/vendor/
/.phpunit.result.cache
/tests/files/**/*_expected
gtbabel-*-log.txt
/node_modules/
/package-lock.json