.gtbabel-simple-lngpicker {
    position: fixed;
    bottom: 60px;
    left: 0;
    z-index: 2147483647;
    float: none;
    background-color: #2b2b2b;
    box-shadow: 4px 4px 10px -1px rgba(0, 0, 0, 0.5);
    border-radius: 0 10px 10px 0;
    border: 1px solid #000;
    border-left: 0;
    overflow: hidden;
    padding: 0;
    margin: 0;
    list-style-type: none;
}
.gtbabel-simple-lngpicker__item {
    border-top: 1px solid #4c4c4c;
    list-style-type: none;
}
.gtbabel-simple-lngpicker__item:first-child {
    border-top: 0;
}
.gtbabel-simple-lngpicker__link {
    font-size: 10px;
    color: #fff;
    width: 40px;
    height: 21px;
    line-height: 21px;
    display: block;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
}
.gtbabel-simple-lngpicker__link--active {
    color: #000;
    background-color: #fff;
}
